
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f3f4f5;
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.logo h2 {
  font-size: 18px;
}

.menu {
  list-style: none;
  padding: 20px;
}

.menu li {
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 6px;
  cursor: pointer;
  color: #555;
}

.menu li:hover {
  background: #f2f4f8;
}

.menu .active {
  background: #e8f0ff;
  color: #2563eb;
  font-weight: 500;
}
.container-top{
    padding-top: 20px;
    padding-right: 50px;
    background: #fff;
    padding-bottom: 20px;
}
.quotebox{
    margin-left: 40px;
}
.quotebox h3{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Work sans',sans-serif;
    color: #2c2c2c;
}
.quotebox p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 4px;
    font-family: 'Work sans',sans-serif;
    color: #616161;
}
.topbar {
  background: #fff;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.search input {
  width: 460px;
  padding: 14px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #f1f3f7;
}

.profile {
  display: flex;
  /* margin-top: 20px; */
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.content {
  padding: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  background: #fff;
  border-radius: 14px;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-body h4 {
  font-size: 18px;
  color: #404040;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: 'DM sans',sans-serif;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
font-family: 'DM sans',sans-serif;
}

.author {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
font-family: 'DM sans',sans-serif;
}

.author img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background: #f1f3f7;
  cursor: pointer;
  font-size: 17px;
  font-size: 14px;
   padding: 10px 20px;
   font-family: 'DM sans',sans-serif;

}

.pagination button:hover {
  background: #e2e6ef;
  
}

.pagination button.active {
  background: #031b4e;
  color: #fff;
  padding: 10px 20px;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.courseimg {
  background: #f1f3f7;
  /* height: 500px; */
}

@media (max-width: 415px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .profile img {
        width: 35px;
        height: 35px;
    }
    .search input {
        width: 240px;
    }
    .quotebox h3{
        font-size: 24px;
    }
    .quotebox p{
        font-size: 16px;
    }
}