@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.landing-hero {
  background-image: url("../assets/main.png"); /* Replace with actual path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #222;
  font-family: "Segoe UI", sans-serif;
  position: relative;
  padding-left: 40px;
}
.box-start {
  border: 2px solid #294c89;
  padding: 9px 20px;
  margin-left: 10px;
  color: #0d0d0d;
  font-weight: 600;
  font-size: 13px;
  border-radius: 10px;
  font-family: "DM sans", sans-serif;
  margin-bottom: 30px;
}
.hero-text {
  max-width: 900px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.hero-text h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 65px;
  color: rgb(88, 88, 88);
  font-family: "DM sans", sans-serif;
}
.hero-text h1 span {
  font-weight: 650;
  color: rgb(12, 11, 50);
}
.des-span {
  font-family: "DM sans", sans-serif;
  color: #717171;
  font-weight: 400;
  font-size: 15px;
  margin-top: 7px;
  width: 65%;
}
.start-button {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.flex-card1 {
  background-color: rgba(211, 69, 211, 0.422);
  margin: 50px 0px 0px 0px;
  padding: 30px;
  border-radius: 40px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.iconicon {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  color: rgb(193, 16, 75);
}
.iconicon2 {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  color: yellow;
}
.iconicon3 {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  color: rgb(124, 124, 226);
}
.card1 h3 {
  color: #fff;
  font-family: "DM sans", sans-serif;
}
.card1 p {
  font-family: "DM sans", sans-serif;
  font-weight: 600;
  font-size: 17px;
}
.cta-btn {
  padding: 14px 40px;
  background-color: #0f3372;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Dm sans", sans-serif;
  border: none;
  outline: none;
}

.cta-btn:hover {
  background-color: #f4aa56ed;
  border: none;
  outline: none;
  transform: scale();
}
/* @media (max-width: 1025px) {
  .hero-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 65px;
    color: rgb(58, 58, 58);
    font-family: "DM sans", sans-serif;
  } 
  .des-span {
    font-family: "DM sans", sans-serif;
    color: #717171;
    font-weight: 400;
    font-size: 15px;
    margin-top: 7px;
    width: 50%;
  }
} */
@media (max-width: 415px) {
    .hero-text {
  align-items: center;
}
    .box-start{
        color: #fff;
    }
  .landing-hero {
    background-image: none;
    background-color: #0f3372;
    padding-left: 5px;
  }
  .hero-text h1 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    line-height: 40px;
  }
  .para-span {
    color: #fff;
    font-size: 36px;
  }
  .hero-text h1 span {
    font-weight: 650;
    color: rgb(233, 233, 235);
  }
  .des-span {
    color: #fff;
    font-size: 13px;
    margin-top: 14px;
    text-align: center;
    width: 100%;
    padding: 0px 20px;
  }
  .start-button {
    margin-top: 18px;
    color: #fff;
  }
  .cta-btn {
    font-size: 14px;
    color: #0f3372;
    background-color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 15px;
    margin-left: 0px;
  }
  .flex-card1 {
background-color: rgba(228, 224, 228, 0.422);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: -10px;
}
}